

/*----- Hello View Styling ----*/
.body-style{
    -fx-background-color: rgb(140,193,193);
}

.menu-btn{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-cursor: hand;
    -fx-border-color: black;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.menu-btn:hover{
    -fx-background-color: #cbeef3;
    -fx-font-size: larger ;
}
.nav-pane{
    -fx-border-color: #000000;

}

.footer-style{
    -fx-background-color: #6e8d63;
}

.home-heading{
    -fx-text-fill: "#393535";
}

/*-------- chooseCalculator-view Styling ---------*/

.choose-calculator-heading{
    -fx-margin: 10px;
    -fx-background-color: rgb(140,193,193);
    -fx-text-alignment: center;
}

.choose-ISAcalculator-btn:hover{
    -fx-background-color: #cbeef3;
}

.choose-Pensioncalculator-btn:hover{
    -fx-background-color: #cbeef3;
}

.choose-Mortgagecalculator-btn:hover{
    -fx-background-color: #cbeef3;
    -fx-border-color: black;

}
.choose-budgetCalculator-btn:hover{
    -fx-background-color: #cbeef3;
    -fx-border-color: black;
}

.choose-exampleCalculator-btn:hover{
    -fx-background-color: #cbeef3;
    -fx-border-color: black;
}

.choose-ISAcalculator-btn{
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.choose-Pensioncalculator-btn{
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.choose-Mortgagecalculator-btn{
    -fx-background-color: transparent;
    -fx-border-color: black;
}
.choose-budgetCalculator-btn{
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.choose-exampleCalculator-btn{
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.choose-calculator-scrollpane{
    -fx-background-color: transparent;
}

/*--- Learn view styling ----*/
.article-container{
    -fx-border-color: black;
    -fx-border-radius: 10px;


}

.article-container:hover{
    -fx-background-color: #cbeef3;
}

.article-heading{
    -fx-font-size: larger;
    -fx-padding-top: 8px;
    -fx-font-weight: bold;
}


/*---- Article1 Styling---*/

.article-title{
    -fx-font-weight: bold;
    -fx-font-size: 36px;
}

.article-subheading{
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 10;
}

.article-content{
    -fx-font-size: 18px;
}

